<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carfi.vrcp.mapper.OrgUserExtMapper" >
  <resultMap id="BaseResultMap" type="com.carfi.vrcp.pojo.OrgUserExt" >
    <id column="user_ext_id" property="userExtId" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="terminal_num" property="terminalNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_ext_id, manager, phone, create_by, terminal_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from org_user_ext
    where user_ext_id = #{userExtId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from org_user_ext
    where user_ext_id = #{userExtId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.carfi.vrcp.pojo.OrgUserExt" >
    insert into org_user_ext (user_ext_id, manager, phone, 
      create_by, terminal_num)
    values (#{userExtId,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{terminalNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.carfi.vrcp.pojo.OrgUserExt" >
    insert into org_user_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userExtId != null" >
        user_ext_id,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="terminalNum != null" >
        terminal_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userExtId != null" >
        #{userExtId,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="terminalNum != null" >
        #{terminalNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.carfi.vrcp.pojo.OrgUserExt" >
    update org_user_ext
    <set >
      <if test="manager != null" >
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="terminalNum != null" >
        terminal_num = #{terminalNum,jdbcType=INTEGER},
      </if>
    </set>
    where user_ext_id = #{userExtId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carfi.vrcp.pojo.OrgUserExt" >
    update org_user_ext
    set manager = #{manager,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      terminal_num = #{terminalNum,jdbcType=INTEGER}
    where user_ext_id = #{userExtId,jdbcType=VARCHAR}
  </update>
</mapper>